<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<!-- STYLES -->
		<link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" charset="utf-8">
		<style type="text/css" media="screen">
			#content{
				margin:20px auto;
				width:50%;
				border:1px solid black;
				text-align:center;
			}
		</style>
		<!-- JS -->
		<script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	
	<body>
		<%= yield %>
	</body>
</html>